In [2]:
import pandas as pd
import pandas
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LassoLarsCV
import matplotlib.pyplot as plt

read data file with census data and sales

In [4]:
alldata = pd.read_csv('finalmaster-ratios.csv')

create a list of all predictor variables from table

In [5]:
allvariablenames = list(alldata.columns.values)

In [6]:
alldata.head()

,# Purchases,B01001001,B01001002,B01001003,B01001004,B01001005,B01001006,B01001007,B01001008,B01001009,...,B19001008,B19001009,B19001010,B19001011,B19001012,B19001013,B19001014,B19001015,B19001016,B19001017
0,22,206252,469.226965,31.432422,35.219052,33.628765,20.121017,12.610787,6.734480,6.225394,...,49.409690,53.306757,42.318307,83.167229,89.249208,102.141470,52.872330,36.440765,23.446284,21.197485
1,7,61399,486.538869,22.899396,21.531295,27.036271,16.808091,28.355511,18.192479,13.534422,...,59.231680,50.093078,40.700626,92.612963,117.363344,113.344051,75.774243,33.000508,33.169741,24.792689
2,3,73170,489.859232,28.905289,36.271696,28.235616,21.566216,12.218122,7.243406,7.380074,...,63.996993,47.322923,42.505211,70.420610,90.033143,98.677692,54.703249,20.125056,11.890525,16.537397
3,94,251724,505.585483,32.054949,31.757004,28.102207,18.651380,12.080692,7.035483,7.686991,...,54.790900,48.681562,43.873381,84.717507,112.204444,127.137252,83.019904,43.731067,38.851729,40.427349
4,0,37382,495.586111,25.413301,29.318924,26.162324,19.260607,12.893906,6.580707,7.062222,...,58.883378,51.761414,47.310187,81.902582,93.793717,130.103014,71.982704,36.118530,31.603714,19.648989

Remove first 8 elements of the list (first is the target, and next 7 are duplicative

In [10]:
del allvariablenames[:8]

In [13]:
#load predictors into dataframe
predictors = alldata[allvariablenames]  

#load target into dataframe
target = alldata['# Purchases']

In [14]:
# split data into train and test sets, with 30% retained for test

pred_train, pred_test, tar_train, tar_test = train_test_split(predictors, target, test_size=.3, random_state=123)

use precompute = false and cv = 10 as parameters for LassoLarsCV and fit to training data

model = LassoLarsCV(precompute=False, cv=10).fit(pred_train, tar_train)

get all variables that have a coefficient greater than 0

In [34]:
#build coefficent chart

predictors_model=pd.DataFrame(allvariablenames)
predictors_model.columns = ['label']
predictors_model['coeff'] = model.coef_

for index, row in predictors_model.iterrows():
    if row['coeff'] > 0:
        print(row.values)

['B01001036' 2.7861365955132498]
['B01001037' 0.9200572652790084]
['B01001038' 0.9459340522644347]
['B02001005' 0.3915680921615554]
['B13014026' 0.2205616415845189]
['B13014027' 0.05049787197081061]
['B19001017' 1.6062678580473926]

In [36]:
# find r-square value for the training data

rsquared_train=model.score(pred_train,tar_train)
print ('training data R-square')
print(rsquared_train)

training data R-square
0.22266652028942102

In [37]:
# find y-intercept

print("y interecept:")
print(model.intercept_)

y interecept:
2.758738710322376